body {
    background-image: radial-gradient(#e3c4a8 5%, #4592af 30%, #33313b 65%);
    color: #f6f5f5;
}
/* Class selectors */
.jumbotron {
    background-color: rgba(0,0,0,0.0);
    margin-top: 7%;
}

.nav-link {
    color: #f6f5f5;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: #e3c4a8;
    color: #33313b;
}

/* ID SELECTORS */

#startOverButton {
    background-color: #4592af;
    border-radius: 20px;
    margin: 10% auto;
    color: #f6f5f5;
}

#startOverButton:hover {
    background-color: #33313b;
}

#calculateButton {
    background-color: #e3c4a8;
    border-radius: 20px;
    color: #33313b;
    margin: 10% auto;
}

#calculateButton:hover {
    background-color: #4592af;
    color: #f6f5f5;
    
}

#navContainer {
    margin-top: 7%;
}

#footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    align-content: center;
}


