/* MAIN.CSS */

/* ELEMENT SELECTORS */

body {
    background-image: radial-gradient(#e3c4a8 5%, #4592af 30%, #33313b 65%);
    color: #f6f5f5;
}

hr {
    background-color: #f6f5f5;
}

a {
    color: #33313b;
    text-decoration: none;
}
a:hover {
    background-color: #4592af;
    color: #f6f5f5;
}

/* CLASSS SELECTORS */

.jumbotron {
    margin-top: 7%;
    background-color: rgba(0,0,0,0.0);
}

.description {
    margin: 5% auto;
    width: 55%;
}

.btn {
    background-color: #e3c4a8;
    border-radius: 20px;
    color: #33313b;
}

.btn:hover {
    background-color: #4592af;
    color: #f6f5f5;
}


.nav-link {
    color: #f6f5f5;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: #e3c4a8;
    color: #33313b;
}



/* ID SELECTORS */

#navContainer {
    margin-top: 10%;
}

#footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    align-content: center;
}