/* MAIN.CSS */
body {
    background-color: #33313b;
    color: #f6f5f5;
}

hr {
    background-color: #f6f5f5;
}

.jumbotron {
    margin-top: 10%;
    background-color: #33313b;
}

.description {
    margin: 10% auto;
    width: 55%;
    
}